<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles -->
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <!-- /styles -->

    <!-- favicons -->
    <link href="/static/favicons/favicon.png" rel="shortcut icon">
    <link href="/static/favicons/favicon.ico" rel="icon">
    <link href="/static/favicons/icon-512.png" rel="icon" sizes="512x512">
    <link href="/static/favicons/icon-192.png" rel="icon" sizes="192x192">
    <link href="/static/favicons/icon-144.png" rel="icon" sizes="144x144">
    <link href="/static/favicons/icon-96.png" rel="icon" sizes="96x96">
    <link href="/static/favicons/icon-72.png" rel="icon" sizes="72x72">
    <link href="/static/favicons/icon-512.png" rel="apple-touch-icon" sizes="512x512">
    <link href="/static/favicons/icon-192.png" rel="apple-touch-icon" sizes="192x192">
    <link href="/static/favicons/icon-144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/static/favicons/icon-96.png" rel="apple-touch-icon" sizes="96x96">
    <link href="/static/favicons/icon-72.png" rel="apple-touch-icon" sizes="72x72">
    <!-- /favicons -->
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
